# to_do_list_vue2.html
# accumulator_vue2.html
# accumulator_vue3.html
vue/vue3-mini-project/node_modules
# to_do_list.html
# vue/vue3-mini-project

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# 文件已经纳入版本管理，修改.gitignore是不能失效的
# 解决方案: 将git的本地缓存删除
# git rm -r --cached .