# to_do_list_vue2.html
# accumulator_vue2.html
# accumulator_vue3.html
vue/vue3-mini-project/node_modules
# to_do_list.html
# vue/vue3-mini-project

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
